.popup-body{
  height: 450px;
  width: 500px;
  padding: 20px;  
  max-height: 400px;
  max-height: 500px;
  position: relative;
}

html, body{
  height: 100%
}

.hide{
  display: none
}

.disabled{
  pointer-events: none;
  filter: grayscale(100%);
  transition: all 0.5s!important;
}

.link-menu{
  font-size: 1.25rem;
}

.h-separator{
  padding: 0 5px ;
  
}